.services-header {
    color: #1650A8;
    margin-top: 175px;
    margin-left: 90px;
    font-weight: 600;
    z-index: 1;
}

.services-text {
    font-weight: 700;
    font-size: 24px;
    color: #3c3c3d;
    margin-top: 3%;
    margin-left: 20%;
}

.services-content-div {
    margin-left: 8%;
    margin-top: 3%;
}

.services-row {
    padding-top: 5%;
}