.process-wrapper{
    margin: 120px 40px 40px;
}
.process-hurry-text{
    font-size: 22px;
    color: #0644A2;
    max-width: 300px;
    margin-bottom: 20px;
}
.form-wrapper{
    flex: 1;
}

.get-estimates-wrapper{
    margin-right: 20px;
}
.get-estimate-text{
    font-size: 24px;
    color: #878686;
}